.flex-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-img-top {
  border-radius: 0;
}

.about .card {
  height: 100%;
  color: black;
}

