table {
    margin: auto;
    background-color: #c7f8ff;
    border-radius: 20px;
}

table td {
    min-width: 150px;
    max-width: 300px ;
    padding: 25px;
}

.artistDescr {
  text-align: left;
}
