body {
  height: 100%;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/austin.jpg");
  background-size: cover;
}

.title {
  color: White;
  background-color: rgba(0,0,0,0.8);
  padding-left: 10rem;
  padding-right: 10rem;
  margin: auto;
  margin-top: 0;
  margin-bottom: 5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.bottom-text-container {
  color: White;
  background-color: rgba(0,0,0,0.8);
  border-radius: 8px;
}
.city-name {
    font-size: 1.5rem;
}
