body {
 height: 100%;
 background-image: url("../assets/austin.jpg");
 background-size: cover;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}
.title {
  color: White;
  background-color: rgba(0,0,0,0.8);
  padding-left: 10rem;
  padding-right: 10rem;
  margin: auto;
  margin-bottom: 5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

.bottom-text-container {
  color: White;
  background-color: rgba(0,0,0,0.8);
  border-radius: 8px;
}
.city-name {
    font-size: 1.5rem;
}
.navBar {
  position: absolute;
  right: 5%;
  font-size: x-large;
  width: 600px;
  top: 10px;
}

.navbar .about {
  position: absolute;
  right: 65%;
}

.navbar .cities {
  position: absolute;
  right: 53%;
  margin: 0%;
}

.navbar .attractions {
  position: absolute;
  right: 33%;
  margin: 0px;
}

.navbar .prices {
  position: absolute;
  right: 20%;
  margin: 0px;
}

.navbar .contact {
  position: absolute;
  right: 0px;
  margin: 0px;
}

