.form-inline > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.custom-control .custom-control-label {
  justify-content: start;
}

#search-bar {
  width: 50%;
}

.dropdown-menu.show {
  padding: 1rem;
}