.background {
    background-image: url("background-state.jpg");
}
.states-list {
    width: 1200px;
    justify-content: center;
    padding: 25px;
    margin: auto;
}
.states-listing{
    margin: 25px;
}