@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

img {
  height: auto;
  border-radius: 15px;
  width: 200px;
}

img.lg {
  width: 1000px;
  margin: 2rem auto;
}

img.md {
  width: 800px;
  margin: 1.5rem auto;
}

img.base {
  width: 400px;
}

img.sm {
  width: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.description {
  margin: 2rem;
}
.full-page {
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  padding: 3rem 0;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

.header-image-container {
  display: flex;
  margin: auto;
}

.header-image-container img {
  margin: auto;
  width: 100%;
  height: auto;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 0;
}
